    * {-webkit-tap-highlight-color: transparent; /* Safari */ -khtml-tap-highlight-color: transparent; /* Konqueror HTML */ -moz-tap-highlight-color: transparent; /* Firefox */ -ms-tap-highlight-color: transparent; /* Internet Explorer/Edge */}
    @font-face {font-display: block; font-family: 'Diatype Variable'; src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff2") format("woff2-variations"), url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff") format("woff"); font-style: normal; font-weight: 200 1000; unicode-range: U+0000-DFFF, U+F900-FFFD;}
    @font-face {font-display: block; font-family: "Diatype Variable"; src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff2") format("woff2-variations"), url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff") format("woff"); font-style: italic; font-weight: 200 1000; unicode-range: U+0000-DFFF, U+F900-FFFD;}
    @font-face {font-family: 'Outfit'; src: url('Outfit-VariableFont_wght.ttf');}
    body {background: white; font-family:'Diatype Variable'; font-size: 0.75rem; user-select: none;}
    header {position: absolute; z-index: 999; width: 100%;}
    main {opacity: 0%; transition: all 0.5s ease;}
    .head {position: sticky; display: inline-block; width: 100%; padding: 2rem 2rem 3rem;}
    .bg-white {background-color: transparent}
    #foot1 {position: fixed; bottom: 0; margin: 2rem;}
    #foot2 {position: fixed; bottom: 0; margin: 2rem;}
    a {text-decoration: none; transition: all .5s ease;}
    a:focus {text-decoration: none;}
    hr {background-color: white; height: 1px; width: 14rem; margin: 0 0 2rem; border: none;}
    a:hover {color: sienna; text-decoration: bisque;}
    p {margin-block-start: 0; margin-block-end: 0; background-color: transparent; line-height: normal;}
    #trigram {position: absolute; right: 2rem; font-size: 2rem; width: 2rem; text-align: center;}
    #closeTrigram {position: absolute; right: 2rem; display: none; font-size: 3.5rem; font-weight: 250; width: 2rem; text-align: center; line-height: 40px; opacity: 0%; transition: all .5s ease;}
    #menu {position: absolute; z-index: 999; display:flex; margin: 2rem; justify-content: space-between;}
    #menuTrigram {position: absolute; top: 8rem; z-index: 999; display:flex; justify-content: space-between; text-align: center; width: 100%;}
    .home {float: left; width: 40px; height: 40px;}
    .logo {fill:none; stroke:white; stroke-miterlimit:10; stroke-linejoin:round; stroke-width:1.5px; stroke-linecap:round;}
    .black {stroke: black;}
    .sections {position: fixed; z-index: 999; display: grid; top: 2rem; right: 2rem; justify-items: end;}
    .sections a {display: inline-flex; align-items: center; padding: 0 5px; font-size: 0.85rem; font-weight: 600; text-transform: uppercase; line-height: 1.2rem;}
    .back {position: absolute; z-index: 999; bottom: 2rem; font-size: 0.85rem; font-weight: 500; text-transform: uppercase;}
    #rge {display: none;}
    .dropdown {position: relative; display: inline-flex;}
    .dropdown1 {position: relative; display: none; color: black;}
    .dropdown:hover .dropdown-content {display: block; transition: all .5s ease;}
    .dropdown-content {display: none; position: relative; min-width: 160px;}
    .dropbtn {font-size: 1rem; font-weight: 800; padding-left: 2rem;}
    .dropbtn:hover {color: white;}
    .title {font-family: "Outfit", sans-serif; font-size: 1rem; font-weight: 800; letter-spacing: 0.06rem; margin-left: 2rem; transition: all .5s ease;}
    .dropbtn::after {content: ''; display: block; position: relative; top: 0px; left: 0px; width: 0%; height: 1px; background: rgba(0, 0, 0, 1); transition: width 0.5s;}
    .title::after {content: ''; display: block; position: relative; top: 0px; left: 0px; width: 0%; height: 1px; background: rgba(0, 0, 0, 1); transition: width 0.5s;}
    
    .anchors ul li {display: inline-block; margin: 0px !important; line-height: 25px; list-style-type: none;}
    .anchors ul li::after {content: ''; display: block; position: relative; top: 0px; left: 0px; width: 0%; height: 1px; background: rgba(0, 0, 0, 1); transition: width 0.5s;}

    #affiche {position: absolute; z-index: 1; top: 8rem; left: 2rem; font-family: "Outfit", sans-serif; font-size: 5rem; font-weight: 700; line-height: 5rem !important; letter-spacing: 0.1rem; transform: translateX(10px); opacity: 100%; transition: all .5s ease;}
    .stripe .closebtn {position: absolute; top: 2rem; right: 2rem; font-size: 1.5rem; color: black; font-weight: 800;}
    #wrap {margin: auto;}
    .stripe {z-index: 1; height: 100%; width: 100vw; position: fixed; top: 0; left: 0; background-color: white; overflow-x: hidden; scroll-behavior: smooth; transition: all 0.8s ease;}
    .infos {position: absolute; color: black; grid-template-columns: 1.5fr 1.5fr 1fr 1fr; flex-direction: row-reverse;}
    .flex-content {padding: 0 0 2rem 2rem;}
    .contact {padding: 0 0 2rem 2rem; background-color: none;}
    .cv {display: grid; width: 100%; padding-bottom: 1rem; grid-template-columns: 30px 0px 1fr;}
    .lieu {padding-left: 1rem;}
    .ashtray {background-color: black;}
    .link:hover::before {content:'\00A0\2197\00A0';}
    #wrap ul {list-style: none; margin: 0; padding: 0; position: relative;}
    #wrap ul li {position: absolute;}
    .image {width: 100vw; height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: center center; border: 0px solid white;}
    .text {display: block; position: absolute; margin: 2rem; right: 0; bottom: 0; text-align: end; font-style: italic;}
    #wrap ul li:nth-child(5) {animation: xfade 20s 0s infinite;}
    #wrap ul li:nth-child(4) {animation: xfade 20s 4s infinite;}
    #wrap ul li:nth-child(3) {animation: xfade 20s 8s infinite;}
    #wrap ul li:nth-child(2) {animation: xfade 20s 12s infinite;}
    #wrap ul li:nth-child(1) {animation: xfade 20s 16s infinite;}
    @keyframes xfade {17% {opacity: 1;} 25% {opacity: 0;} 92% {opacity: 0;}}
    .medal {display: none; width: 90px; height: 90px; border-radius: 90px; background-size: contain;}
    .medal p {text-align: center; height: 90px; line-height: 90px; color: white; font-size: 0.8rem; font-weight: 500;}
    .straw {background-image: url('https://compost-ain.fr/wp-content/uploads/2023/06/paille-e1687808270946.jpg');}
    .clay {background-image: url('https://terrargile.fr/wp-content/uploads/2021/02/nuancier-pisé-mini.jpg');}

    /* Mobile ----------------------------------------------- */

    @media screen and (max-width: 768px) {
      body {font-size: 0.85rem;}
      #menu {display: none;}
      #menuTrigram {position: absolute; top: 45%; transform: translateY(-80%); display: none; opacity: 0; line-height: 3rem; transition: all .5s ease;}
      .dropdown1 {display: none !important;}
      #affiche {position: absolute; top: 44%; left: 0rem; transform: translateY(-60%); font-size: 4.5rem; text-align: center; width: 100%;}
      .text {display: none;}
      .flex-content {padding: 9rem 2rem 0rem 2rem;}
      .contact {height: 100vh; background-color: peru; color: black;}
      .contact::before {content: "Atelier Barœul"; text-transform: uppercase;}
      .title {margin: 0; font-size: 1.5rem;}
      #wrap {filter: grayscale(0%); transition: all .5s ease;}
      .sections a:hover {text-overflow: ellipsis;}

      #foot1 {width: 100%; margin: 2rem 0; text-align: center; font-size: 1.4rem; font-weight: 500; letter-spacing: 0.02rem; transition: all .5s ease;}
      #foot2 {display: none; opacity: 0%; margin: 2rem auto; text-align: center; width: 100%; transition: all .5s ease;}
    }
