* {-webkit-tap-highlight-color: transparent; /* Safari */ -khtml-tap-highlight-color: transparent; /* Konqueror HTML */ -moz-tap-highlight-color: transparent; /* Firefox */ -ms-tap-highlight-color: transparent; /* Internet Explorer/Edge */}
@font-face {font-display: block; font-family: 'Diatype Variable'; src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff2") format("woff2-variations"), url("https://type.cargo.site/files/Cargo-DiatypePlusVariable.woff") format("woff"); font-style: normal; font-weight: 200 1000; unicode-range: U+0000-DFFF, U+F900-FFFD;}
@font-face {font-display: block; font-family: "Diatype Variable"; src: url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff2") format("woff2-variations"), url("https://type.cargo.site/files/Cargo-DiatypePlusVariable-Italic.woff") format("woff"); font-style: italic; font-weight: 200 1000; unicode-range: U+0000-DFFF, U+F900-FFFD;}
@font-face {font-family: 'Outfit'; src: url('Outfit-VariableFont_wght.ttf');}
@font-face {font-family: 'Montserrat Variable'; src: url('Montserrat-VariableFont_wght.ttf');}
@font-face {font-family: 'Montserrat Italic'; src: url('Montserrat-Italic-VariableFont_wght.ttf');}

html {scroll-behavior: smooth;}
body {background: white; font-family:'Diatype Variable'; font-size: 1rem; user-select: none;}
hr {background-color: white; height: 1px; width: 14rem; margin: 0 0 2rem; border: none;}
a {text-decoration: none; transition: all .5s ease;}
a:focus {text-decoration: none;}
p {margin-block-start: 0; margin-block-end: 0; background-color: transparent; line-height: normal;}

/* Header ----------------------------------------------- */

header {width: 100%;}

.parallax {height: 100vh; perspective: 10px; overflow-x: hidden; overflow-y: auto; scroll-behavior: smooth;}

.grid-container {display: grid; grid-template-columns: auto auto auto; row-gap: 20px; position: absolute; top: 50%; left: 0; right: 0; -ms-transform: translateY(-50%) translateZ(1px); transform: translateY(-50%) translateZ(1px); width: 285px; margin: 0 auto; color: white;}
.grid-container > div {display: table; text-align: center;}
.grid-container > div > p {display: table-cell; vertical-align: middle;}
.item1 {width: 90px; height: 85px; margin: 0 auto;}
.item2 {font-family: "Mooli", sans-serif; font-size: 2.2rem;}
.item3 {font-family: "Outfit", sans-serif; font-size: 1.8rem; font-weight: 500; letter-spacing: 0.06rem;}
.item4 {grid-area: 2 / 1 / 2 / span 3; font-family: 'Outfit'; font-size: 0.9rem;}
.head-page {width: 100%; padding: 2rem 2rem 0.5rem; background-color: white; z-index: 999; position: relative;}
.home-page {display: block; margin: 0 auto; width: 60px; height: 60px;}

.scroll-icon-container {display: block; position: absolute; bottom: 0; left: 0; right: 0; transform: translateZ(0px); margin: 0 auto; width: 50px; height: 25px; background-color: white; border-top-left-radius: 5px; border-top-right-radius: 5px; text-align: center; transition: height .3s ease;}
.scroll-icon-container:hover {height: 32px;}
.scroll-icon-container a {display: block; height: 25px;}
.scroll-icon-container span {height: 25px; font-size: 30px;}

#flex-container {display: flex; position: relative; height: 100vh; text-align: center; flex-direction: column; background-color: white;}
#flex-container .bio {position: absolute; top: 50%; left: 0; right: 0; -ms-transform: translateY(-50%); transform: translateY(-50%); margin: 0 auto; width: 40%;}
#flex-container .rights, #section-contact .rights {position: absolute; bottom: 2rem; left: 0; right: 0; height: 20px; font-size: 0.9rem;}
.btn-container {display: flex; justify-content: center; margin-top: 3rem;}
.btn-page-ab {width: 130px;}
.btn-separator {width: 20px; font-size: 1.9rem; line-height: 21px;}
.btn-page-sf {width: 110px;}
.menu-link {display: inline-block; font-weight: 500; letter-spacing: 0.5px; text-transform: uppercase; font-size: 0.9rem; font-family: 'Outfit';}
.menu-link span {display: inline-block; width: 0px; border-bottom: 1px solid black; text-align: center; transition: width .3s ease;}
.btn-page-ab .menu-link:hover > span {width: 130px;}
.btn-page-sf .menu-link:hover > span {width: 110px;}

/* Footer ----------------------------------------------- */

footer {position: fixed; bottom: 0; width: 100%; margin-bottom: 4rem;}
#scroll {display: none; fill: white; width: 2rem; margin-left: 2rem;}

svg, text {transition: all 0.5s ease;}
.white {fill: white;}
.black {fill: black;}
.sections {position: sticky; top: 0; z-index: 10; display: flex; justify-content: center; padding: 1.2rem 0 1rem; background-color: white; box-shadow: 0 .1rem 1rem .1rem rgba(0, 0, 0, .08); font-family: 'Outfit'; letter-spacing: 0.5px;}
.sections p, .sections a {display: inline-flex; align-items: center; font-weight: 600; text-transform: uppercase; line-height: 1.2rem; border-bottom:1px solid #fff; padding-bottom: 0.5rem; transition: all .3s ease;}
.sections p {padding: 0 2rem 0.5rem;}
.sections-menu  {padding: 0 2rem;}
.sections span {font-size: 1.9rem; line-height: 19px;}
.sections-menu a:nth-child(2) {margin: 0 2rem;}
.back {text-transform: uppercase;}
#rge {display: none;}

.anchors ul li {display: inline-block; margin: 0px !important; line-height: 25px; list-style-type: none;}
.anchors ul li::after {content: ''; display: block; position: relative; top: 0px; left: 0px; width: 0%; height: 1px; background: rgba(0, 0, 0, 1); transition: width 0.5s;}

.img-container {transform: translateZ(-1px) scale(1.2); margin: auto;}
.img-container ul {list-style: none; margin: 0; padding: 0; position: relative; height: 100vh;}
.img-container ul li {position: absolute;}
.img-container ul li:nth-child(5) {animation: xfade 20s 0s infinite;}
.img-container ul li:nth-child(4) {animation: xfade 20s 4s infinite;}
.img-container ul li:nth-child(3) {animation: xfade 20s 8s infinite;}
.img-container ul li:nth-child(2) {animation: xfade 20s 12s infinite;}
.img-container ul li:nth-child(1) {animation: xfade 20s 16s infinite;}
@keyframes xfade {17% {opacity: 1;} 25% {opacity: 0;} 92% {opacity: 0;}}

.flex-content {position: relative; padding: 5rem 16rem; height: 100vh;}
.flex-content.image {width: 100%; z-index: 20; text-align: center;}
.contact-container {position: absolute; left: 0; right: 0; margin: 0 auto; z-index: 30; transform: translateY(-80vh) translateZ(2px) scale(0.801); text-align: center;}
.contact-content {margin: 0 auto; padding: 4rem; width: 25rem; border-radius: 5px; background-color: white;}
.btn-page-home {width: 80px;}
.btn-page-up {width: 60px;}
.btn-page-home .menu-link:hover > span {width: 80px;}
.btn-page-up .menu-link:hover > span {width: 60px;}
.cv {display: grid; width: 100%; padding-bottom: 1rem; grid-template-columns: 30px 0px 1fr;}
.lieu {padding-left: 1rem;}
.ashtray {background-color: black;}

.image {width: 100vw; height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: center center; border: 0px solid white;}
.text {display: none; position: absolute; margin: 2rem 0 3rem; padding-right: 2rem; width: 100%; bottom: 0; text-align: right; font-style: italic; color: white;}

/* Mobile ----------------------------------------------- */

@media screen and (max-width: 768px) {
  body {font-weight: 300; transition: all .5s ease;}
  a:hover {color: black;}

  .grid-container {grid-template-columns: auto; row-gap: 5px;}
  .grid-container > div {display: block;}
  .grid-container > div > p {display: block;}
  .item1 {width: 70px; height: 65px;}
  .item2 {font-size: 1.3rem;}
  .item2 p {font-size: 20px;}
  .item2 svg {fill: none; stroke: white; stroke-miterlimit: 10; stroke-width: 1.85px; width: 20px; height: 30px;}
  .item3 {font-size: 1.3rem; font-weight: 500; letter-spacing: 0.02rem;}
  .item4 {grid-area: 4 / 1 / 4 / 1; margin-top: 20px; font-size: 13px;}

  .image {background-attachment: scroll;}

  #flex-container .bio {width: 70%;}
  #flex-container .rights {bottom: 1rem; font-size: 0.8rem;}

  .flex-content {padding: 5rem 2rem 0 2rem;}
  .text {display: none;}
  .contact {color: black;}
  .contact p {margin-top: 0.1rem;}
  .contact::before {content: "Atelier Barœul"; text-transform: uppercase; font-weight: 500;}

  #scroll {display: none;}
  .scroll-icon-container {display: none;}

  .menu-link span {display: none;}
}
